#game-lobby-container {
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.custom-button {
	background-color: transparent;
	color: white;
	border: 2px solid white;
	border-radius: 5px;
	padding: 5px 10px;
	transition: 300ms;
}

.custom-button:hover {
	background-color: white;
	color: black;
}
