html,
body,
#root {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	padding: 0;
	margin: 0;
	font-family: "Orbitron", sans-serif;
}

.animate-underline {
	display: inline-block;
	position: relative;
}

.animate-underline:after {
	bottom: 0;
	content: "";
	display: block;
	height: 2px;
	left: 50%;
	position: absolute;
	background: #fff;
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
}

.animate-underline:hover:after {
	width: 100%;
	left: 0;
}

.bold {
	font-weight: 700;
}

.large-text {
	font-size: larger;
}

.justify-self-end {
	justify-self: end;
}

.test {
	border: 1px solid red;
}
