.custom-input {
	border-radius: 5px;
	border: 2px solid white;
	color: white;
}

.custom-input input {
	color: white;
	font-size: large;
	background-color: transparent;
	border: none;
	margin: 15px;
}

.custom-input input:focus {
	outline: none;
}

.custom-input input::placeholder {
	color: white;
}

.custom-input button {
	flex: 1;
	background: transparent;
	color: white;
	border: none;
	border-left: 2px solid white;
	transition-duration: 300ms;
}

.custom-input button:hover {
	background: white;
	color: black;
}
